.field {
  width: 275px;
  height: 38px;
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-family: "Nunito Sans", "Montserrat";
  box-sizing: border-box;
  border: 1px solid #888FA7;
  border-radius: 10px;
  outline: none;
  transition: all 0.2s ease;

  &:focus {
    border-color: #A4D8F7;
  }
}

.error {
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #ff504d;
}