.grid {
  margin: 40px 0 20px;
  width: 100%;
  border-collapse: collapse;


  .header {
    text-align: left;
    padding: 10px 20px ;
    border-radius: 10px;
  }

  .row {
    border-bottom: 1px #888FA7 solid;

    .cell {
      font-size: 14px;
      color: #525564;
      padding: 10px 0 10px 12px;

      .sort {
        padding: 0;
        background-color: inherit;
        font-family: "Nunito Sans", "Montserrat";
        font-weight: bold;
        color: #0C1E5B;
        border: none;
        cursor: pointer;

        &:hover {
          text-decoration: 1px solid #0C1E5B;
        }
      }
    }

    .btn-cell {
      width: 80px;
      padding-left: 12px;
      border-bottom: 1px #888FA7 solid;
    }
  }
}